<%- include('../_layouts/adminheader') %>

<h2 class="page-title"> Add a new kid </h2>

<br><br>
<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 1200px;">
        <form method="post" action="/admin/students/add-student">
            <div class="form-group input-group">
                <div class="input-group-prepend"></div>
                <span class="input-group-text"> <i class="fas fa-user"></i></i></span>
                <div class="input-mysize"><input type="text" name="lastName" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend"></div>
                <span class="input-group-text"> <i class="fas fa-user"></i></i></span>
                <div class="input-mysize"><input type="text" name="firstName" class="form-control"
                        placeholder="Surname"></div>
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend"></div>
                <span class="input-group-text"> <i class="fas fa-user"></i></i></span>
                <div class="input-mysize"><input type="text" name="emailStudent" class="form-control"
                        placeholder="Email"></div>
            </div>
            <label>Date of birth</label>
            <div class="form-group input-group">
                <div class="input-group-prepend"></div>
                <span class="input-group-text"> <i class="fas fa-user"></i></i></span>
                <div class="input-mysize"><input type="date" name="birthDate" class="form-control"
                        placeholder="Data nastere"></div>
            </div>
            
            <div class="form-group input-group">
                <div class="input-group-prepend"></div>
                <span class="input-group-text"> <i class="fas fa-user"></i></i></span>
                <div class="input-mysize"><input type="text" name="gender" class="form-control" placeholder="Gender"></div>
            </div>
            <button class="btn btn-primary">Register a new kid</button>
        </form>
    </article>
</div>

<%- include('../_layouts/adminfooter') %>