<%- include('../_layouts/adminheader') %>

    <h2 class="page-title"> Your Kids </h2>
    <a href="/admin/students/add-student" class="btn btn-primary">Add a new kid</a>
    <br><br>

    <table class="table table-striped" id="studentsTable">

        <thead>
            <tr class="home">
                <th>Name</th>
                <th>Surname</th>
                <th>Date of birth</th>
                <th>Colour</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>
                Alexandru
            </td>
            <td>
                Ghinea
            </td>
            <td>
                23rd May, 2002
            </td>
            <td>
                <span class="dot"></span>
            </td>
            </tr>
            
            <tr>
            <td>
                Ioana
            </td>
            <td>
                Ghinea
            </td>
            <td>
                25th June, 2006
            </td>
            <td>
                <span class="dot-blue"></span>
            </td>
        </tr>
        </tbody>

    </table>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer",
                {

                    title: {
                        text: "Investments history ($) "
                    },
                    data: [
                        {
                            type: "line",

                            dataPoints: [
                                { x: new Date(2020, 00, 1), y: 30 },
                                { x: new Date(2020, 01, 1), y: 30 },
                                { x: new Date(2020, 02, 1), y: 40 },
                                { x: new Date(2020, 03, 1), y: 40 },
                                { x: new Date(2020, 04, 1), y: 50 },
                                { x: new Date(2020, 05, 1), y: 20 },
                                { x: new Date(2020, 06, 1), y: 30 },
                                { x: new Date(2020, 07, 1), y: 40 },
                                { x: new Date(2020, 08, 1), y: 20 },
                                { x: new Date(2020, 09, 1), y: 40 },
                                { x: new Date(2020, 10, 1), y: 60 },
                                { x: new Date(2020, 11, 1), y: 20 }
                            ]
                        },
                        {
                            type: "line",

                            dataPoints: [
                                { x: new Date(2020, 00, 1), y: 20 },
                                { x: new Date(2020, 01, 1), y: 20 },
                                { x: new Date(2020, 02, 1), y: 30 },
                                { x: new Date(2020, 03, 1), y: 30 },
                                { x: new Date(2020, 04, 1), y: 40 },
                                { x: new Date(2020, 05, 1), y: 30 },
                                { x: new Date(2020, 06, 1), y: 50 },
                                { x: new Date(2020, 07, 1), y: 30 },
                                { x: new Date(2020, 08, 1), y: 40 },
                                { x: new Date(2020, 09, 1), y: 30 },
                                { x: new Date(2020, 10, 1), y: 20 },
                                { x: new Date(2020, 11, 1), y: 20 }
                            ]
                        }
                    ]
                });

            chart.render();
        }
        $("#inputFilter").on("keyup", function () {
            var inputValue = $(this).val().toLowerCase();
            $("#studentsTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(inputValue) > -1)
            });
        });
    </script>
    <%- include('../_layouts/adminfooter') %>