<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="generator" content="Jekyll v3.8.6">
  <title>Admin Area</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://use.fontawesome.com/f46793f924.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <!-- Custom styles for this template -->
</head>


<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/" target="_blank">Diploma Blockchain</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/index.html">Acasa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/pages">Pagini</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <% if (user) { %>
      <li><a href="/users/logout">Buna ziua, <%= user.username %> Logout</a></li>
      <% } else { %>
      <li class="nav-link"><a href="/users/register">Register</a></li>
      <li class="nav-link"><a href="/users/login">Login</a></li>
      <% } %>
    </form>
  </div>
</nav>

<main role="main" class="container">
  <%- messages('messages', locals) %>
  <% if (errors)  {%>
  <% errors.forEach(function(error) { %>
  <div class="alert alert-danger">
    <%= error.msg %>
  </div>
  <% }); %>
  <% }%>