<%- include ('./_layouts/headertest') %>

<section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Cele mai bune diplome de pe piata</h1>
          <div><a href="#about" class="btn-get-started scrollto">Get Started</a></div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
            <img src="img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Digitalizarea diplomelor</h3>
            <p class="font-italic">
              Folosind tehnologia Blockchain si sisteme de stocare distribuite, putem asigura imutabilitatea diplomelor.
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i>Stocare pe termen lung fara brese de securitate</li>
              <li><i class="icofont-check-circled"></i>Transparenta pentru stocarea diplomelor</li>
              <li><i class="icofont-check-circled"></i>Acces public folosind hash-ul unic generat</li>
            </ul>
          </div>
        </div>

      </div>
    </section>
    <section id="contact" class="contact section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Contact</h2>
            <p>Accesul se poate realiza in baza unui cont unic pentru fiecare universitate</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6">
              <div class="info-box mb-4">
                <i class="bx bx-map"></i>
                <h3>Adresa noastra</h3>
                <p>Universitatea, Strada Academiei</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-envelope"></i>
                <h3>Email</h3>
                <p>contact@unibuc.ro</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-phone-call"></i>
                <h3>Numarul telefon</h3>
                <p>+4021-305.97.30</p>
              </div>
            </div>
  
          </div>
        </div>
      </section>
    </main>
    


<%- include ('./_layouts/footer') %>