.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-hightlight{
    border: 1px dashed #ccc;
}
#imgPreview {
    margin: 20px;
}
.text-size {
    font-size: 5px;
}
.bottom {
    min-height: 100%;
}
footer {
    position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: red;
       color: white;
       text-align: center;
    }
.mycell {
    max-width:2px; 
}